body {
    background-image: url(https://media.tenor.com/mL_vvv35zRwAAAAC/pattern-abstract.gif);
    background-repeat: repeat;
    background-size: contain;
    background-position: top;
}

.header {
    text-align: left;
    /* div'deki içeriği sola yaslamayı sağlar*/
    /* padding: 20px; */
    /* div'deki içeriğin her taraftan 20 piksellik boşluk olacak şekilde konumlanmasını sağlar*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* hangi font ailesinin kullanılacağını belirler*/

    color: #e5e5e5;
}

.header h1 {
    font-size: 50px;
}

.header p {
    font-size: 20px;
}

.topnav {
    border-top: 10px snow outset;
    overflow: hidden;
    background-color: #4582a4;
    border-radius: 10px;
}

.topnav a {
    color: white;
    float: left;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #1e514e;
    color: rgb(250, 191, 118)
}

.topnav a:active {
    background-color: #040e13;
    color: rgb(250, 191, 118)
}

.leftPanel {
    padding-top: 20px;
    width: 75%;
    float: left;
}

.rightPanel {
    padding-top: 20px;
    width: 25%;
    float: left;
}

.cardElement {
    text-align: left;
    padding: 20px;
    background-color: #e6f6ff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-bottom: 20px;
}

.cardElement h1 {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4582a4
}

.cardElement p {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0d1920
}

.cardElement img {
    width: 100%;
    height: 300px;
}

.rightPanelCard {
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #e6f6ff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.rightPanelCard h1 {
    font-size: 40px;
}

.rightPanelCard p {
    text-align: justify;
}

#profilePhoto {
    width: 50%;
    border-radius: 100%;
    filter: drop-shadow(0 4px 4px);
    transition: all 0.5s ease-in-out;
}

#profilePhoto:hover {
    /* transform: rotate(360deg); */
    animation-name: heart-beat;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;

}

@keyframes heart-beat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

#myPic {
    width: 90%;
    height: 200px;

}
